[submodule "homework-repos/07-github"]
	path = homework-repos/github-intro
	url = git@github.com:stat850-unl/github-starter-course.git
[submodule "homework-repos/08-graphics"]
	path = homework-repos/graphics-intro
	url = git@github.com:unl-stat151/08-graphics.git
[submodule "homework-repos/09-data-cleaning"]
	path = homework-repos/data-cleaning-steam-games
	url = git@github.com:unl-stat151/09-data-cleaning.git
#[submodule "homework-repos/11-joins"]
#	path = homework-repos/11-joins
#	url = git@github.com:unl-stat151/sql-island.git
#	branch = main
[submodule "homework-repos/12-graphics2"]
	path = homework-repos/good-graphics
	url = git@github.com:unl-stat151/12-graphics2.git
[submodule "homework-repos/11-strings"]
	path = homework-repos/strings-decoder
	url = git@github.com:unl-stat151/11-strings.git
[submodule "homework-repos/10-reshape"]
	path = homework-repos/reshape-carbon
	url = git@github.com:unl-stat151/10-reshape.git
[submodule "homework-repos/practice-final"]
	path = homework-repos/practice-final
	url = git@github.com:unl-stat151-2025a/practice-final.git
[submodule "exams/practice-final"]
	path = exams/practice-final
	url = git@github.com:unl-stat151-2025a/practice-final.git

